.DesktopNavbar {
  /* border: 1px solid black; */
  ul {
    display: flex;
    gap: 2vw;
    a {
      text-decoration: none;
      li {
        font-size: 1.5vw;
        transition: color ease 0.2s;
        /* font-weight: bold; */
        &:hover {
          color: #525ceb;
        }
      }
    }
  }
}
