.form {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  gap: 2vw;
  .title {
    font-weight: 500;
    color: var(--themeColor1);
  }
  .formBody {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    input {
      border-bottom: 0.15vw solid var(--themeColor4) !important;
      padding: 1vw 0;
      transition: all ease 0.2s;
      color: var(--themeColor1);
      &::placeholder {
        color: var(--minor-text-color);
      }
      &:hover {
        border-bottom: 0.15vw solid var(--themeColor1) !important;
      }
    }
    .btn {
      margin-top: 2vw;
      padding: 0.5vw 1vw;
      border-radius: 1vw;
    }
  }
}

/* tablet responsiveness */
@media all and (max-width: 991px) {
  .form {
    gap: 3vw;
    .formBody {
      gap: 5vw;
      input {
        border-bottom: 0.25vw solid var(--themeColor4) !important;
        padding: 1.5vw 0;
        &:hover {
          border-bottom: 0.25vw solid var(--themeColor1) !important;
        }
      }
      .btn {
        margin-top: 3vw;
        padding: 0.8vw 1.5vw;
        border-radius: 1.5vw;
      }
    }
  }
}

/* mobile responsiveness */
@media all and (max-width: 480px) {
  .form {
    gap: 4vw;
    .formBody {
      gap: 6vw;
      input {
        border-bottom: 0.3vw solid var(--themeColor4) !important;
        padding: 2vw 0;
        &:hover {
          border-bottom: 0.3vw solid var(--themeColor1) !important;
        }
      }
      .btn {
        margin-top: 4vw;
        padding: 1vw 2vw;
        border-radius: 2vw;
      }
    }
  }
}
