.Signin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #000;
  padding: 20px;
  border-radius: 8px;
}

.title {
  text-align: center;
}

.inputGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 0.2vw solid #fff !important;
  color: #fff;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}
