.AuthPage {
  /* border: 1px solid #fff; */
  margin-top: 10vw;
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    .btn {
      width: 15vw;
      font-size: 2vw;
      padding: 0.1vw 2vw;
      border-radius: 0.5vw;
      color: var(--themeColor4);
      border: 0.2vw solid transparent;
    }
    .filledBtn {
      border: 0.2vw solid var(--themeColor4);
      background-color: var(--themeColor1);
      color: var(--themeColor3);
    }
  }
}
.auth {
  margin-top: 2vw;
  /* border: 1px solid #fff; */
}

/* mobile responsiveness */
@media all and (max-width: 480px) {
  .AuthPage {
    /* border: 1px solid #fff; */
    margin-top: 20vw;
    .btns {
      gap: 3vw;
      .btn {
        width: 30vw;
        font-size: 4vw;
        padding: 0.2vw 4vw;
        border-radius: 1vw;
        border: 0.4vw solid transparent;
      }
      .filledBtn {
        border: 0.2vw solid var(--themeColor4);
      }
    }
  }
  .auth {
    margin-top: 4vw;
    /* border: 1px solid #fff; */
  }
}
