.AuthPage {
  /* border: 1px solid #fff; */
  margin-top: 10vw;
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    .btn {
      width: 15vw;
      font-size: 2vw;
      padding: 0.1vw 2vw;
      border-radius: 0.5vw;
    }
    .filledBtn {
      border: 0.1vw solid #fff;
      background-color: var(--themeColor);
    }
  }
}
.auth {
  /* border: 1px solid #fff; */
}
