.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.CountUp {
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  background-color: var(--themeColor1);
  padding: 2vw;
}
.countContainer {
  width: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.count {
  color: var(--bg);
  font-size: 3vw;
  font-weight: 600;
}
.title {
  color: var(--bg);
  font-size: 2vw;
  font-weight: 400;
}

@media all and (max-width: 991px) {
  .CountUp {
    gap: 6vw;
    padding: 3vw;
    flex-wrap: wrap;
  }
  .countContainer {
    width: 28vw;
    gap: 1.5vw;
  }
  .count {
    font-size: 6vw;
  }
  .title {
    font-size: 4vw;
  }
}

@media all and (max-width: 480px) {
  .CountUp {
    gap: 8vw;
    padding: 4vw;
    flex-direction: column;
  }
  .countContainer {
    gap: 2vw;
  }
  .count {
    font-size: 8vw;
  }
  .title {
    font-size: 6vw;
  }
}
