.ServicesPage {
  /* border: 1px solid #fff; */
  margin-top: 9vw;
  padding: 4vw;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  h1 {
    margin: 0 auto;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vw;
    .singleContainer {
      border: 0.2vw solid var(--themeColor);
      width: 25vw;
      height: 25vw;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      border-radius: 2vw;
      transition: all ease 0.2s;
      &:hover {
        background-color: #000;
        border-color: #fff;
      }
      &:hover .top {
        transform: translateY(-100%);
      }
      &:hover .down {
        transform: translateY(0);
      }
      .top {
        /* border: 1px solid #fff; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all ease 0.5s;
        .imgContainer {
          width: 15vw;
        }
        p {
          font-weight: 600;
        }
      }
      .down {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        font-weight: 500;
        position: absolute;
        padding: 2vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(100%);
        transition: all ease 0.5s;
      }
    }
  }
}
