.Hero {
  padding: 4vw;
  display: flex;
  position: relative;
  .switchTheme {
    position: absolute;
    top: 2vw;
    right: 4vw;
  }
  .leftContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7vw;
    .top {
      display: flex;
      flex-direction: column;
      gap: 2vw;
      .animatedText {
        font-size: 4vw;
        color: var(--themeColor1);
        animation: fade 1s infinite alternate;
      }
    }
    a {
      width: 100%;
    }
    .btn {
      width: 77%;
      margin-right: auto;
    }
  }
  .rightContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .imgContainer {
      width: 70%;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
