.MobileNavbar {
  width: 60%;
  height: 100vh;
  background-color: var(--themeColor1);
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform ease-in-out 0.5s;
  ul {
    /* border: 1px solid black; */
    padding-top: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8vw;
    position: relative;
    a {
      text-decoration: none;
    }
    li {
      list-style-type: none;
      font-size: 6vw;
      color: var(--themeColor3);
      font-weight: 600;
      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        .dropDownIcon {
          font-size: 10vw;
          color: var(--themeColor3);
        }
      }
    }
  }
  .close {
    /* border: 1px solid white; */
    position: absolute;
    top: 3%;
    right: 6%;
    font-size: 10vw !important;
    color: var(--themeColor3);
  }
}

.showSidebar {
  transform: translateX(0);
}

.dropDownContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2vw;
  li {
    font-size: 5vw !important;
  }
}
