.AboutPage {
  /* border: 1px solid #fff; */
  margin-top: 6vw;
  max-width: 100vw;
  overflow-x: hidden;
  .topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
    .left {
      width: 41%;
      h1 {
        color: var(--themeColor1);
      }
      p {
        text-align: justify;
      }
    }
    .imgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }

  .bottomContainer {
    /* border: 1px solid #fff; */
    padding: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    flex-wrap: wrap;
    .singleContainer {
      border: 0.2vw solid var(--themeColor1);
      width: 40vw;
      height: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2vw;
      padding: 2vw;
      border-radius: 2vw;
      transition: all ease 0.2s;
      &:hover {
        background-color: var(--themeColor3);
        border-color: var(--themeColor4);
        box-shadow: 0.3vw 0.3vw 0.9vw var(--box-shadow-color);
      }
      .title {
        text-align: center;
      }
      .bottom {
        /* border: 1px solid #fff; */
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2vw;
        .imgContainer {
          width: 30%;
          img {
            border-radius: 2vw;
          }
        }
        .des {
          /* border: 1px solid #fff; */
          width: 50%;
          /* text-align: justify; */
          font-size: 1.1vw;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .AboutPage {
    margin-top: 10vw;
    .topContainer {
      flex-direction: column-reverse;
      padding: 6vw;
      .left {
        width: 100%;
      }
      .imgContainer {
        width: 100%;
      }
    }
    .bottomContainer {
      padding: 6vw;
      gap: 6vw;
      .singleContainer {
        border: 0.3vw solid var(--themeColor1);
        width: 65vw;
        height: 35vw;
        gap: 3vw;
        padding: 3vw;
        border-radius: 3vw;
        &:hover {
          box-shadow: 0.5vw 0.5vw 0.9vw var(--box-shadow-color);
        }
        .bottom {
          gap: 3vw;
          .imgContainer {
            img {
              border-radius: 3vw;
            }
          }
          .des {
            font-size: 2vw;
          }
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .AboutPage {
    margin-top: 12vw;
    .topContainer {
      flex-direction: column-reverse;
      padding: 8vw;
      .left {
        width: 100%;
      }
      .imgContainer {
        width: 100%;
      }
    }
    .bottomContainer {
      padding: 8vw;
      gap: 8vw;
      .singleContainer {
        border: 0.4vw solid var(--themeColor1);
        width: 80vw;
        height: 40vw;
        gap: 4vw;
        padding: 4vw;
        border-radius: 4vw;
        &:hover {
          box-shadow: 0.6vw 0.6vw 0.9vw var(--box-shadow-color);
        }
        .bottom {
          gap: 4vw;
          .imgContainer {
            img {
              border-radius: 4vw;
            }
          }
          .des {
            font-size: 2.2vw;
          }
        }
      }
    }
  }
}
