.Header {
  width: 100vw;
  border: 1px solid #fff;
  padding: 2vw 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .imgContainer {
    /* border: 1px solid black; */
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    place-items: center;
  }
  .searchContainer {
    border: 0.15vw solid #fff;
    display: flex;
    place-items: center;
    border-radius: 50px;
    width: 30vw;
    .input {
      /* border: 1px solid red; */
      padding: 1vw;
    }
  }
  .navbarContainer {
    .desktopNavbar {
      display: flex;
    }
    .mobileNavbar {
      display: none;
    }
    svg {
      display: none;
    }
  }
}

@media all and (max-width: 480px) {
  .Header {
    /* border: 1px solid white; */
    padding: 2vw 4vw;
    .imgContainer {
      border: 1px solid black;
      width: 10vw;
    }
    .searchContainer {
      border: 0.3vw solid #fff;
      width: 60vw;
      .input {
        padding: 2vw;
      }
    }
    .navbarContainer {
      .desktopNavbar {
        display: none;
      }
      .mobileNavbar {
        display: flex;
      }

      svg {
        display: flex;
        font-size: 6vw;
        cursor: pointer;
      }
    }
  }
}
