.Header {
  width: 100vw;
  /* border: 1px solid #fff; */
  padding: 2vw 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #212121;
  z-index: 1000;
  .imgContainer {
    /* border: 1px solid black; */
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    place-items: center;
  }
  .searchContainer {
    border: 0.15vw solid var(--themeColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 1vw 1vw;
    cursor: pointer;
    .input {
      width: 0;
      border: none !important;
      padding: 0 1vw;
      transition: width 0.2s ease;
    }

    svg {
      font-size: 2vw;
    }
  }
  .navbarContainer {
    .desktopNavbar {
      display: flex;
    }
    .mobileNavbar {
      display: none;
    }
    svg {
      display: none;
    }
  }
}

@media all and (max-width: 480px) {
  .Header {
    /* border: 1px solid white; */
    padding: 2vw 4vw;
    .imgContainer {
      border: 1px solid black;
      width: 10vw;
    }
    .searchContainer {
      border: 0.3vw solid #fff;
      width: 60vw;
      .input {
        padding: 2vw;
      }
    }
    .navbarContainer {
      .desktopNavbar {
        display: none;
      }
      .mobileNavbar {
        display: flex;
      }

      svg {
        display: flex;
        font-size: 6vw;
        cursor: pointer;
      }
    }
  }
}
