.form {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  gap: 2vw;
  .title {
    font-weight: 500;
    color: var(--themeColor1);
  }
  .formBody {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    .formRow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2vw;
    }
    input {
      border-bottom: 0.15vw solid var(--themeColor4) !important;
      padding: 1vw 0;
      transition: all ease 0.2s;
      color: var(--themeColor4);
      &::placeholder {
        color: var(--minor-text-color);
      }
      &:hover {
        border-bottom: 0.15vw solid var(--themeColor1) !important;
        color: var(--themeColor1);
      }
    }
    .btn {
      margin-top: 1vw;
      padding: 0.5vw 1vw;
      border-radius: 1vw;
    }
  }
}
