.form {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  gap: 2vw;
  .title {
    font-weight: 500;
  }
  .formBody {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    input {
      border-bottom: 0.15vw solid #fff !important;
      padding: 1vw 0;
      transition: all ease 0.2s;
      &:hover {
        border-bottom: 0.15vw solid var(--themeColor) !important;
      }
    }
    .btn {
      margin-top: 2vw;
      padding: 0.5vw 1vw;
      border-radius: 1vw;
    }
  }
}
