.Footer {
  /* border: 1px solid #fff; */
  padding: 4vw;
  .footerOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    border-bottom: 0.11vw solid var(--themeColor1);
    padding: 2vw 0;
    p {
      font-weight: 500;
    }
    .left,
    .middle,
    .right {
      width: 30%;
      a {
        transition: all ease-in-out 0.2s;
        &:hover {
          text-decoration: underline;
          text-decoration-color: var(--themeColor1);
        }
      }
      address {
        transition: all ease-in-out 0.2s;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          text-decoration-color: var(--themeColor1);
        }
      }
    }
  }
  .footerTwo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5vw;
    padding: 2vw 0;
    .left {
      width: 30%;
      /* border: 1px solid #fff; */
      display: flex;
      flex-direction: column;
      gap: 1vw;
      .leftTop {
        .logo {
          font-size: 2.5vw;
          color: var(--themeColor1);
          font-weight: 600;
        }
      }
      .leftDown {
        display: flex;
        flex-direction: column;
        p {
          font-weight: 500;
        }
        .socialContainer {
          /* border: 1px solid #fff; */
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1vw;

          svg {
            font-size: 2vw;
            color: var(--themeColor1);
            &:hover {
              color: var(--themeColor4);
            }
          }
        }
      }
    }
    .middle {
      width: 30%;
      /* border: 1px solid #fff; */
      display: flex;
      flex-direction: column;
      gap: 2vw;
      .linksContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8vw;
        .linksOne,
        .linksTwo {
          display: flex;
          flex-direction: column;
          gap: 1vw;
          a:hover {
            color: var(--themeColor1);
          }
        }
      }
    }
    .right {
      width: 30%;
      /* border: 1px solid #fff; */
      display: flex;
      flex-direction: column;
      gap: 2vw;
      .container {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        .searchContainer {
          border: 0.15vw solid var(--themeColor1);
          display: flex;
          place-items: center;
          border-radius: 50px;
          width: 100%;
          padding: 0 1vw;
          .input {
            /* border: 1px solid red; */
            border: none !important;
            padding: 1vw;
            &::placeholder {
              color: var(--minor-text-color);
            }
            &:hover {
              color: var(--themeColor1);
            }
          }
          svg {
            font-size: 3vw;
            color: var(--themeColor1);
            cursor: pointer;
            transition: all ease 0.2s;
            &:hover {
              color: var(--themeColor4);
            }
          }
        }
      }
    }
  }
  .footerThree {
    text-align: center;
    font-size: 1vw;
    a {
      color: var(--themeColor1);
      transition: all ease-in-out 0.2s;
      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--themeColor1);
      }
    }
  }
}

.heading {
  position: relative;
  font-weight: 500;
}
.heading::after {
  content: "";
  position: absolute;
  bottom: -0.5vw;
  left: 0;
  width: 3.5vw;
  height: 0.2vw;
  background-color: var(--themeColor1);
  transition: all ease 0.2s;
}
.heading:hover::after {
  width: 7vw;
}

@media all and (max-width: 991px) {
  .Footer {
    padding: 6vw;
    .footerOne {
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 0.16vw solid var(--themeColor1);
      padding: 3vw 0;
      .left,
      .middle,
      .right {
        width: 100%;
      }
    }
    .footerTwo {
      flex-direction: column;
      padding: 3vw 0;
      .left {
        width: 100%;
        gap: 1.5vw;
        .leftTop {
          .logo {
            font-size: 4vw;
          }
        }
        .leftDown {
          p {
          }
          .socialContainer {
            gap: 1.5vw;
            svg {
              font-size: 3vw;
            }
          }
        }
      }
      .middle {
        width: 100%;
        gap: 3vw;
        .linksContainer {
          gap: 13vw;
          .linksOne,
          .linksTwo {
            gap: 1.5vw;
          }
        }
      }
      .right {
        width: 100%;
        gap: 3vw;
        .container {
          gap: 1.5vw;
          .searchContainer {
            border: 0.2vw solid var(--themeColor1);
            width: 100%;
            padding: 0 1.5vw;
            .input {
              padding: 1.5vw;
            }
            svg {
              font-size: 4.5vw;
            }
          }
        }
      }
    }
    .footerThree {
      font-size: 1.5vw;
    }
  }

  .heading::after {
    content: "";
    position: absolute;
    bottom: -0.15vw;
    width: 5vw;
    height: 0.3vw;
  }
  .heading:hover::after {
    width: 11vw;
  }
}

@media all and (max-width: 480px) {
  .Footer {
    padding: 8vw;
    .footerOne {
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 0.22vw solid var(--themeColor1);
      padding: 4vw 0;
      .left,
      .middle,
      .right {
        width: 100%;
      }
    }
    .footerTwo {
      flex-direction: column;
      padding: 4vw 0;
      .left {
        width: 100%;
        gap: 2vw;
        .leftTop {
          .logo {
            font-size: 5vw;
          }
        }
        .leftDown {
          p {
          }
          .socialContainer {
            gap: 2vw;
            svg {
              font-size: 4vw;
            }
          }
        }
      }
      .middle {
        width: 100%;
        gap: 4vw;
        .linksContainer {
          gap: 16vw;
          .linksOne,
          .linksTwo {
            gap: 2vw;
          }
        }
      }
      .right {
        width: 100%;
        gap: 4vw;
        .container {
          gap: 2vw;
          .searchContainer {
            border: 0.3vw solid var(--themeColor1);
            width: 100%;
            padding: 0 2vw;
            .input {
              padding: 2vw;
            }
            svg {
              font-size: 6vw;
            }
          }
        }
      }
    }
    .footerThree {
      font-size: 2vw;
    }
  }

  .heading::after {
    content: "";
    position: absolute;
    bottom: -0.2vw;
    width: 7vw;
    height: 0.4vw;
  }
  .heading:hover::after {
    width: 14vw;
  }
}
