.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  .modalContent {
    background-color: var(--bg);
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0.3vw 0.3vw 0.9vw var(--box-shadow-color);
    gap: 3vw;
    .modalHeader {
      width: 100%;
      justify-content: space-between;
      h2 {
        color: var(--themeColor1);
      }
      button {
        color: var(--themeColor1);
        font-weight: 600;
        font-size: 1.5vw;
      }
    }
    .modalBody {
      gap: 5vw;
      .rightModal {
        align-items: flex-start;
        gap: 1vw;
        .profileRadio {
          span {
            color: var(--themeColor1);
            font-weight: 600;
          }
        }

        .typeRadio {
          align-items: flex-start;
          gap: 1vw;
          .typeHeading {
            color: var(--themeColor1);
            font-weight: 600;
          }
          .typeRow {
            align-items: flex-start;
            gap: 0.5vw;
            .typeOptions {
              gap: 0.5vw;
              cursor: pointer;
              input {
                width: 1.5vw;
                height: 1.5vw;
                cursor: pointer;
              }
            }
          }
        }

        .durationRadio {
          align-items: flex-start;
          gap: 1vw;
          .heading {
            color: var(--themeColor1);
            font-weight: 600;
          }
          .durationRadioBox {
            gap: 1vw;
            .durationRadioItems {
              gap: 0.5vw;
              input {
                width: 1.5vw;
                height: 1.5vw;
                cursor: pointer;
              }
              label {
                cursor: pointer;
              }
            }
          }
        }

        .slotRadio {
          display: flex;
          flex-direction: column;
          .heading {
            color: var(--themeColor1);
            font-weight: 600;
          }
        }
      }
    }
    .sendRqstBtn {
      padding: 0.5vw 1vw !important;
    }
  }
}

.profileRadioOptionsBox {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 1vw 0;
}

.profileRadioOptions {
  display: flex;
  gap: 1vw;
  input {
    width: 30px;
  }
  label {
    display: flex;
  }
}

.slotRadioOptionsBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slotRadioOption {
  display: flex;
  align-items: center;
}

.slotRadioOption input[type="radio"] {
  margin-right: 5px;
  width: 30px;
}

.slotRadioOption label {
  cursor: pointer;
}
