.userCard {
  min-width: 20vw;
  width: 15vw;
  border: 2px solid var(--themeColor);
  padding: 2vw;
  border-radius: 1.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8vw;
  overflow: hidden;
  background-color: #121212;
}

.profileImage {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
}

.leftUserProfileButton {
  color: var(--themeColor);
  text-decoration: underline;
  font-size: 1vw;
  cursor: pointer;
}

.studentName {
  font-size: 1.6vw;
}

.meetCategory {
  font-size: 0.8vw;
  background-color: var(--themeColor);
  color: white;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
}

.meetDetails {
  display: flex;
  gap: .4vw;
  flex-direction: column;
  margin-top: .8vw;
  width: 16vw;
  span{
    font-size: .8vw;
    display: flex;
    align-items: center;
    gap: 1vw;
  }
}


.linkhref{
  font-size: 1vw;
  text-align: left;
  width: 100%;
  text-decoration: underline;
  color: var(--themeColor);
  cursor: pointer;
}

.meetLinkRequest{
  font-size: 1vw;
  padding: .4vw 1vw;
  background-color: green;
  color: #eee;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
}

.acceptButton,
.ignoreButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.acceptButton:hover
 {
  background-color: green;
}

.ignoreButton:hover{
    background-color: brown;
}

.icon {
  margin-right: 0.5rem;
}
