.singleContainer {
  border: 0.2vw solid var(--themeColor1);
  width: 21vw;
  height: 25vw;
  padding: 1.5vw;
  border-radius: 2vw;
  gap: 1vw;
  align-items: flex-start !important;
  transition: all ease 0.2s;
  &:hover {
    background-color: var(--themeColor3);
    border-color: var(--themeColor4);
    box-shadow: 0.3vw 0.3vw 0.9vw var(--box-shadow-color);
  }
  .cardHeader {
    justify-content: flex-start;
    gap: 1vw;
    .avatar {
      width: 5vw;
      height: 5vw;
      overflow: hidden;
      img {
        border-radius: 50%;
        border: 0.2vw solid var(--themeColor1);
      }
    }
    h2 {
      font-size: 1.5vw;
      font-weight: 600;
      color: var(--themeColor1);
    }
  }
  .details {
    align-items: flex-start;
    .companyPosition,
    .profileInfo {
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1vw;
      font-size: 1.2vw;
      svg {
        color: var(--themeColor1);
      }
    }
  }
  .buttonContainer {
    gap: 0.5vw;
    button {
      padding: 0.5vw 1vw;
      font-size: 1vw;
      border-radius: 0.5vw;
      background-color: #007bff;
      color: #fff;
      &:last-child {
        background-color: #28a745;
      }
    }
  }
  .socialIcons {
    gap: 1vw;
    a {
      svg {
        color: var(--themeColor1);
        font-size: 1.5vw;
      }
    }
  }
  .weekdays {
    gap: 1vw;
    span {
      font-size: 1.2vw;
      color: var(--themeColor1);
      font-weight: 600;
    }
    .activedays {
      background-color: var(--themeColor1);
      color: var(--themeColor3);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5vw;
      height: 1.5vw;
      border-radius: 50%;
    }
  }
}
