/** @format */

.cardContainer {
  border: 0.1vw solid #e0e0e0;
  width: 20.5vw;
  border-radius: 1vw;
  padding: 1.5vw;
  margin-bottom: 1.5vw;
  background-color: #212121;
  /* box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1); */
  background: #212121;
  box-shadow: 7px 7px 17px #181818, -7px -7px 17px #2a2a2a;
}

.cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1vw;
}

.avatar {
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  margin-right: 1vw;
}

.cardHeader h2 {
  margin: 0;
  font-size: 1.5vw;
  color: #fff;
}

.companyPosition {
  font-size: 1vw;
  color: #ccc;
  margin-bottom: 0.6vw;
  svg {
    color: #007bff;
  }
}

.profileInfo {
  font-size: 1vw;
  color: #bbb;
  margin-bottom: 0.6vw;
  line-height: 1.4;
  svg {
    color: #007bff;
  }
}

.buttonContainer {
  display: flex;
  margin-top: 1vw;
}

.buttonContainer button {
  margin-right: 0.8vw;
  padding: 0.8vw 1.2vw;
  font-size: 0.9vw;
  border: none;
  border-radius: 0.3vw;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.buttonContainer button:last-child {
  margin-right: 0;
  background-color: #28a745;
}

.socialIcons {
  margin-top: 1vw;
}

.socialIcons span {
  margin-right: 0.8vw;
  font-size: 1.2vw;
  color: #888;
}

.weekdays {
  margin-top: 1vw;
  display: flex;
}

.weekdays span {
  margin-right: 0.8vw;
  font-size: 1vw;
}

.activedays {
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7vw;
  height: 1.7vw;
  border-radius: 50%;
}
