.StudentAuth {
  /* border: 1px solid #fff; */
  width: 100vw;
  padding: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  transition: all ease 0.5s;
  .authContainer {
    width: 50%;
    height: 100%;
    transition: all ease 0.5s;
  }
  .signedIn {
    transform: translateX(100%);
  }
  .selectAuth {
    width: 40%;
    border: 0.2vw solid var(--themeColor1);
    background-color: var(--themeColor3);
    margin-bottom: auto;
    border-radius: 2vw;
    padding: 3vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    color: var(--themeColor1);
    transition: all ease 0.5s;
    .title {
      font-weight: 500;
      text-align: center;
      color: var(--themeColor1);
      font-size: 2vw;
    }
    .btn {
      border-color: var(--themeColor1);
      background-color: transparent;
      color: var(--themeColor1);
      /* margin-right: auto; */
      &:hover {
        background-color: var(--themeColor1);
        color: var(--themeColor3);
      }
    }
    .selectedAuth {
    }
  }
  .signedInTwo {
    transform: translateX(-150%);
  }
}

/* tablet responsiveness */
@media all and (max-width: 991px) {
  .StudentAuth {
    padding: 6vw;
    flex-direction: column;
    gap: 8vw;
    .authContainer {
      width: 90%;
    }
    .signedIn {
      transform: translateY(120%);
    }
    .selectAuth {
      width: 90%;
      border: 0.3vw solid var(--themeColor1);
      border-radius: 3vw;
      padding: 5vw;
      height: 40vw;
      gap: 8vw;
      .title {
        font-size: 3vw;
      }
    }
    .signedInTwo {
      transform: translateY(-120%);
    }
  }
}

/* mobile responsiveness */
@media all and (max-width: 480px) {
  .StudentAuth {
    padding: 8vw;
    flex-direction: column;
    gap: 10vw;
    .authContainer {
      width: 100%;
    }
    .signedIn {
      transform: translateY(85%);
    }
    .selectAuth {
      width: 100%;
      border: 0.4vw solid var(--themeColor1);
      border-radius: 4vw;
      padding: 6vw;
      height: 50vw;
      gap: 10vw;
      .title {
        font-size: 4vw;
      }
    }
    .signedInTwo {
      transform: translateY(-160%);
    }
  }
}
