.StudentAuth {
  border: 1px solid #fff;
  .authContainer {
    border: 1px solid #fff;
  }
  .selectAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    .btn {
      padding: 1vw 2vw;
      border-radius: 1vw;
      font-size: 1.5vw;
      font-weight: 600;
      border: 0.2vw solid var(--themeColor);
      transition: background ease 0.2s;
    }
    .selectedAuth {
      background-color: var(--themeColor);
    }
  }
}
