@import url("https://fonts.googleapis.com/css2?family=Anta&family=Metrophobic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg1: #272c34;
  --themeColor: #61dafb;
  --themeColor1: #61dafb;
  --themeColor2: #f0f0f0;
  --themeColor3: #000;
  --themeColor4: #fff;
  --bg: #212121;
  --box-shadow-color: rgba(97, 218, 251, 0.4);
  --minor-text-color: #aaa;

  [data-theme="light"] {
    --themeColor1: #5a62e0;
    --themeColor2: #212121;
    --themeColor3: #fff;
    --themeColor4: #000;
    --bg: #f0f0f0;
    --box-shadow-color: rgba(0, 0, 0, 0.3);
    --minor-text-color: #666;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: background ease-in-out 0.2s;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
  display: flex;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100dvh;
  height: 100dvh;
  background-color: var(--bg);
  color: var(--themeColor2);
  overflow-x: hidden;
}

h1 {
  font-size: 3vw;
  font-weight: 600;
}

h2 {
  font-size: 2vw;
  font-weight: 500;
}

img {
  height: 100%;
  width: 100%;
}

input {
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 1.2vw;
  font-weight: 500;
  width: 100%;
}
textarea {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.2vw;
  font-weight: 500;
  width: 100%;
  color: #fff;
  resize: none;
}

.bigText {
  font-size: 2vw;
}

.normalText {
  font-size: 1.5vw;
}

.minorText {
  font-size: 1.4vw;
  color: var(--minor-text-color);
}

.bigOutlineBtn {
  font-size: 1.5vw;
  font-weight: 500;
  padding: 1.5vw 2vw;
  background-color: transparent;
  border: 0.2vw solid var(--themeColor1);
  color: var(--themeColor1);
  border-radius: 1vw;
  cursor: pointer;
  transition: background ease 0.2s;
}
.bigOutlineBtn:hover {
  background-color: var(--themeColor1);
  color: var(--bg);
}

button {
  border: none;
  outline: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.btn1 {
  background-color: var(--themeColor1);
  padding: 1vw 2vw;
  border-radius: 1vw;
  font-size: 1.5vw;
  font-weight: 600;
  border: 0.2vw solid var(--themeColor1);
  transition: background ease 0.2s;
  color: var(--themeColor3);
}
.btn1:hover {
  background-color: transparent;
  color: var(--themeColor1);
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 991px) {
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 3vw;
  }
  input {
    font-size: 2.2vw;
  }
  textarea {
    font-size: 2.2vw;
  }
  .bigText {
    font-size: 3vw;
  }
  .normalText {
    font-size: 3.25vw;
  }

  .minorText {
    font-size: 2vw;
    color: var(--minor-text-color);
  }

  .bigOutlineBtn {
    font-size: 2.2vw;
    padding: 2.2vw 3vw;
    border: 0.3vw solid var(--themeColor1);
    border-radius: 1.5vw;
  }
  .btn1 {
    padding: 1.5vw 3vw;
    border-radius: 1.5vw;
    font-size: 2.5vw;
    border: 0.3vw solid var(--themeColor1);
  }
}

@media all and (max-width: 480px) {
  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 4vw;
  }

  img {
    height: 100%;
    width: 100%;
  }

  input {
    font-size: 2.4vw;
  }
  textarea {
    font-size: 2.4vw;
  }

  .bigText {
    font-size: 4vw;
  }

  .normalText {
    font-size: 4vw;
  }

  .minorText {
    font-size: 2.6vw;
    color: var(--minor-text-color);
  }

  .bigOutlineBtn {
    font-size: 3vw;
    padding: 3vw 4vw;
    border: 0.4vw solid var(--themeColor1);
    border-radius: 2vw;
  }
  .bigOutlineBtn:hover {
    background-color: var(--themeColor1);
    color: var(--bg);
  }

  button {
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
  }

  .btn1 {
    padding: 2vw 4vw;
    border-radius: 2vw;
    font-size: 3vw;
    border: 0.4vw solid var(--themeColor1);
  }
}
