.swiper {
  /* border: 1px solid #fff; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .swiperSlide {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .leftContainer {
      width: 50%;
      .title {
        font-size: 4vw;
        width: 60%;
        .span {
          color: var(--themeColor);
          font-weight: 600;
        }
      }
    }
    .imgContainer {
      width: 20vw;
    }
    .btnOne {
      position: absolute;
      left: 4%;
      font-size: 3vw;
      transition: all ease 0.2s;
      &:hover {
        color: var(--themeColor);
      }
    }
    .btnTwo {
      position: absolute;
      right: 5%;
      font-size: 3vw;
      transition: all ease 0.2s;
      &:hover {
        color: var(--themeColor);
      }
    }
  }
}
