.swiper {
  /* border: 1px solid #fff; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .swiperSlide {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .leftContainer {
      width: 50%;
      .title {
        font-size: 4vw;
        width: 60%;
        .span {
          color: var(--themeColor1);
          font-weight: 600;
        }
      }
    }
    .imgContainer {
      width: 15vw;
      border: 0.4vw solid #ccc;
      border-radius: 2.6vw;
      display: flex;
      align-items: center;
      filter: drop-shadow(0 0.2vw 0.7vw var(--box-shadow-color));
    }
    .btnOne {
      position: absolute;
      left: 4%;
      font-size: 3vw;
      color: var(--themeColor2);
      transition: all ease 0.2s;
      &:hover {
        color: var(--themeColor1);
      }
    }
    .btnTwo {
      position: absolute;
      right: 5%;
      font-size: 3vw;
      color: var(--themeColor2);
      transition: all ease 0.2s;
      &:hover {
        color: var(--themeColor1);
      }
    }
  }
}

@media all and (max-width: 991px) {
  .swiper {
    margin-top: 1vw;
    .swiperSlide {
      .leftContainer {
        .title {
          font-size: 5.25vw;
          .span {
          }
        }
      }
      .imgContainer {
        width: 25vw;
        border: 0.6vw solid #ccc;
        border-radius: 4.5vw;
      }
      .btnOne {
        display: none;
      }
      .btnTwo {
        display: none;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .swiper {
    margin-top: 2vw;
    .swiperSlide {
      .leftContainer {
        .title {
          font-size: 6.5vw;
          .span {
          }
        }
      }
      .imgContainer {
        width: 30vw;
        border: 0.8vw solid #ccc;
        border-radius: 5.2vw;
      }
      .btnOne {
        display: none;
      }
      .btnTwo {
        display: none;
      }
    }
  }
}
